body {
    margin: 0;
}

section {
    padding: 15px;
    color: white;
    display: grid;   
    place-items: center;
    height: auto;
background-image: linear-gradient(to right top, #cc70da, #b676db, #a07ada, #8b7dd6, #787fcf);

}

section > div {
    width: 350px;
}


section p {
    margin: 0;
}

.imagen {
    width: 350px;  
}

.forms {
    display: grid;
    width: 350px;
}

.forms label {
    margin-top: 20px;
}

.forms input {
    margin-top: 15px;
    border-radius: 15px;
    height: 30px;
    border: none;
    padding-left: 15px;
}

.forms input::placeholder {
    color: #8b7dd6;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background-color: #FF869E;

}

button {
    margin-top: 15px;
    border-radius: 20px;
    height: 40px;
    font-size: 18px;
    border: none;
    color: white;
    background: #E8A0BF;
}

#ResultP, #ResultCupon {
    color: white;
    margin-top: 20px;
    font-weight: 700;
    margin-left: 15px;
    font-size: 20px;
}

